<!DOCTYPE html>
<html>
<%- partial('_partial/head') %>

<body>
  <div class="container">
    <%- partial('_partial/header') %>
    <div class="article-wrapper">
      <main class="main">
        <%- body %>
      </main>
    </div>
  </div>
  <!-- 网站统计，总文章数、总分类数、总标签数 -->
  <!-- <%= site.posts.length %> <br>
  <%= site.categories.length %>  <br>
  <%= site.tags.length %>  <br> -->

  <%- partial('_partial/onlinechat') %>
</body>

</html>